In [4]:
#1
set_1 = {1, 2, 3, 4}
set_2 = {2, 4,  5, 6}
set_2.union(set_1)

{1, 2, 3, 4, 5, 6}

In [5]:
#2
set_1.intersection(set_2)

{2, 4}

In [6]:
#3
set_1.difference(set_2)

{1, 3}

In [7]:
#4
set_1.issubset(set_2)

False

In [8]:
#5
5 in set_1

False

In [9]:
#6
len(set_2)

4

In [11]:
#7
my_list = [1, 2, 2, 3, 4, 5, 5]
set(my_list)

{1, 2, 3, 4, 5}

In [29]:
#8
set_1 = set_1 - {4} 
set(set_1)

{1, 2, 3}

In [ ]:
#9
set_1.clear()

In [ ]:
#10
bool(set_1)

In [30]:
#11
set_1.symmetric_difference(set_2)

{1, 3, 5, 6}

In [32]:
#12
set_1.add(7)
set_1

{1, 2, 3, 7}

In [38]:

#13
set_1 = {1, 2, 3, 4, 5}
popped_element = set_1.pop()

print(popped_element)

set_1

1

{2, 3, 4, 5}

In [ ]:
#14
max(set_1)

In [ ]:
#15
min(set_1)

In [39]:
#16
even = []
for element in set_2:
    if element % 2 == 0:
       even.append(element)
set(even)

{2, 6}

In [41]:
#17

odd = []
for x in set_2:
    if x % 2 != 0:
       odd.append(x)
set(odd)

{5}

In [42]:
#18
set(list(range(10)))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#19
set_2.symmetric_difference(set_1)

In [43]:
#20
set_1.isdisjoint(set_2)

False

In [45]:

#21
set(my_list)

{1, 2, 3, 4, 5}

In [46]:
#22
len(set(my_list))

5

In [54]:
#23
from random import randint
randset=set()
for i in range(randint(10,20)):
    randset.add(i)
randset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}