In [2]:
#q1
my_tuple = (1, 2, 4, 3, 5, 6, 3, 7, 8)
my_tuple.count(3)

2

In [4]:
#q2
max(my_tuple)

8

In [5]:
#q3
min(my_tuple)

1

In [6]:
#q4
4 in my_tuple

True

In [8]:
#q5
my_tuple[0]

1

In [9]:
#q6
my_tuple[-1]

8

In [10]:
#q7
len(my_tuple)

9

In [13]:
#q8
new_tuple=my_tuple[:3]
new_tuple

(1, 2, 4)

In [14]:
#q9
a1 = (11, 7, 1)
a2 = a1 + my_tuple
a2

(11, 7, 1, 1, 2, 4, 3, 5, 6, 3, 7, 8)

In [15]:
#q10
bool(my_tuple)

True

In [22]:
#q11
indexes=[]
num=7
for i in range(len(my_tuple)):
    if my_tuple[i]==num:
        indexes.append(i)
indexes

[7]

In [ ]:
#q12
print(sorted(list(set(my_tuple)))[-2])

In [ ]:
#q13
print(sorted(list(set(my_tuple)))[1])

In [23]:
#q14
single_tuple=(1,)

In [24]:
#q15
my_list = [1,2,3,5]
tuplee = tuple(my_list)
tuplee

(1, 2, 3, 5)

In [28]:
#q16
if my_tuple == tuple(sorted(my_tuple)):
   print(True)
else:
    print(False)

False

In [29]:
#q17
max(my_tuple[0:4])

4

In [30]:
#q18
min(my_tuple[0:3])

1

In [32]:
#q19
tup_list = list(my_tuple)
if x in tup_list:
    tup_list.remove(x)
    tuple(tup_list)

tup_list

NameError: name 'x' is not defined

In [41]:
#q20
#length=int(input("enter the lenght of the indivudual subtuples"))
final = ()
length=3
for i in range(0, len(my_tuple), length):
    newest = my_tuple[i:i+length]
    final += (newest,) 
final

((1, 2, 4), (3, 5, 6), (3, 7, 8))

In [42]:
#q21
a5 = my_tuple * 2
a5

(1, 2, 4, 3, 5, 6, 3, 7, 8, 1, 2, 4, 3, 5, 6, 3, 7, 8)

In [43]:
#q22
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#q23
my_tuple[::-1]

In [ ]:
#24
my_tuple == my_tuple[::-1]

In [46]:
empty=[]
for i in my_tuple:
    if i not in empty:
        empty.append(i)

tuple(empty)

(1, 2, 4, 3, 5, 6, 7, 8)